@import url("https://fonts.googleapis.com/css2?family=Prompt&family=Varela+Round&display=swap");
/* Overall setting */
* {
  margin: 0;
  padding: 0;
}
/* Overall use font family */
.font-family {
  font-family: "Varela Round", sans-serif;
}
/* Setting for background image on background */
body {
  background-image: url("./img.jpg");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}
/* setting for alert */
.alert {
  width: 595px;
  margin-left: 382px;
  border: none;
  border-radius: 0;
  color: white;
  background-color: red;
  height: 50px;
  font-size: 20px;
}
/* input setting for taking surah number */
.input-1 {
  height: 40px;
  text-align: center;
}
input:hover {
  box-shadow: 0px 0px 10px white;
}
/* searchIcon */
.searchIcon {
  font-size: 20px;
  padding: 10px;
  font-weight: bolder;
  background-color: red;
  color: white;
}
.searchIcon:hover {
  box-shadow: 0px 0px 5px white;
}
/* setting of input for taking starting and ending ayat number  */
.inputWidth {
  width: 150px;
}
/* setting for search btn */
.searchBtn {
  background-color: red;
  color: white;
  border: none;
}
.searchBtn:hover {
  box-shadow: 0px 0px 5px white;
}
/* setting for new page appear on clicking search btn */

.ayahDisplaySet {
  padding-bottom: 80px;
}
/* setting for del icon */
.delIcon {
  font-size: 25px;
}
.delIcon:hover {
  background-color: red;
}
/* width for displaying ayah box*/
.ayahDisplay {
  width: auto;
  box-shadow: 0px 0px 50px white;
}
/* setting for volume icon */
.volIcon {
  font-size: 25px;
  padding: 15px;
}
.volIcon:hover {
  font-size: 30px;
  color: rgb(0, 128, 0);
}
/* setting for surah name and ayahs */
.fontSizeAyahs {
  font-size: 35px;
}
