
*{
    padding: 0;
    margin:0 ;
    box-sizing: border-box;
}



body{
    font-family: "Roboto", sans-serif;

height: 100%;
}


/* utilities */

.bg-dark-grey{
    background-color: #333;
}
.bg-success{
    background-color: #93cb52;
}
.bg-whitesmoke{
    background-color: #f4f4f4;
}


.color-white{
    color: white;
}

.color-success{
    color: #93cb52;
}

.color-grey{
    color: #333;
}
.font-size{
    font-size: 30px;
}
.margin-right{
    margin-right: 40px;
}
.margin-bottom1{
    margin-bottom:20px;
}
.margin-bottom2{
    margin-bottom:10px;
}
/* #28292b */

/* container1 */
 
.navigation{ 
    display: flex;
justify-content: space-between;
align-items: center;
border-bottom: 5px solid #93cb52 ;
height: 12vh;
width: 100vw;
position: fixed;
}
.items{
    display: flex;
   list-style: none;
}
 ul li a{
    text-decoration:none ;
    padding: 20px;
}
a:hover{
   background-color: #93cb52;
   border-radius: 5px;
   border-color: none;
}
.book-icon-padding{
    padding:0px 6px 0px 19px;
   
    color: #93cb52;
}
/* img */
/* showcase */
.showcase{
    background-image:url("./images/showcase\ img.jpg")  ;
  
     background-attachment: fixed;
     height:900px
}

.showcase-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
   
  

}
.showcase h1{
    font-size:4rem;
}
.showcase p{
    font-size:19px; 
   
    margin-top:30px;
}

.btn{
    border-radius: 5px;
    border-color: none;
    padding: 14px 20px;
    text-decoration: none;
    margin-top: 35px;
}
.dark-overlay{
   height: 100%;
   background-color: rgba(0,0,0,0.5);
}
.center{
   text-align: center;
}
/* Section1 */
#what{
    margin-top: 30px;
   
}
#what h1{
    font-size:2rem;
}
#what span{
    color:#93cb52;
    padding-right: 15px;
}
.item{
    display: flex;
    flex-direction: row;
   justify-content: center;
    width: 1000px;
  
    margin:auto ;
     padding: 30px;
}
.item h2{
    font-size: 1.17rem;
    margin-top: 15px;
}
.item p{
    margin-top: 20px;
}
.items1{
   flex: 1;
    display: flex;
    flex-direction: column;
   align-items: center;
 }
.fas{
    border:none;
    border-radius: 40px;
    background-color: #93cb52;
    color:black;
    padding: 20px;
    font-size: 30px;

}
/* Section2*/
/*#who{
    display: flex;
   
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

   
height: 80vh;
width: 50vw;
    background-attachment: fixed;
}
#who div{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #333;
    height: 80vh;
width: 50vw;
}*/
#who{
    display: flex;
    height:400px
}
.image{
    background-image: url("./images/people\ img.jpg") ;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 122%;
   
}
.content{
box-sizing: border-box;
  padding:2rem;
}
#who h1{
    font-size:2rem;
}

#who p{
    font-size:18px;
}
.desigining p{
   margin-bottom:3px;
   border-bottom: 1px dotted black ;
} 
.padding-1{
    padding-top: 15px;
    padding-bottom: 15px;
 
 
}
.clients h1{
    margin:30px 0px;
    font-size:2rem;
}
.logos{
    display: flex;
  flex-direction: row;
  justify-content: center;

}
.p-1{
    padding:0px 50px 80px 50px;
}
.heading-p{
    padding-right: 15px;

}