*{
    padding: 0;
    margin: 0;
}


body{
    font-family: Arial, Helvetica, sans-serif;
   
}
/* paddings */
.p-1{
    padding: 2px;
}
.p-left1{
    padding-left:170px;
}
.p-left2{
    padding-left:450px;
}
.p-left3{
    padding-left:20px;
}

/* border */
.border{
    position:fixed;
    border-bottom: 4px solid #6f1ba7;
 }
/* navbar */
.styling{
    list-style: none;
    background-color:#262528d9;
    height:90px;
    line-height:85px;
   width: 100%;
    color: white;
    
 }
 
li{
    display: inline;
}
.l-1{
    font-size: 30px;
    font-weight:bolder;
    
    color: #6f1ba7;
}
.l-1::after{
    content:"Technologies";
    font-size: 30px;
    font-weight:bolder;
    color: white;
   }

.l-2{
color:#6f1ba7;
padding-left: 450px;

}
.l-3{
     padding-left: 20px;
     
    }
    .l-4{
        font-size: 30px;
        font-weight:bolder;
    }

    /* img */
.img{
    background-image:url("./img.jpg");
    background-size:1400px 500px;
    height: 420px;
  
}

.div{
    color: white;
    text-align: center; 
    padding: 0px 120px;
}

div .heading{
    font-size: 40px;
    font-weight: bold;
    padding-top: 160px;
    padding-bottom: 30px;
}
.heading::after{
    content:"Limit";
    font-size: 40px;
    font-weight:bolder;
    color: #6f1ba7;
}
 
div  p{
    padding-bottom: 40px;
    }
    a{
        
        border-radius: 5px;
        color: white;
        font-weight: bold;
        padding: 15px;
        text-decoration: none;
        background-color: #6f1ba7;
        box-shadow: 0px 0px 10px #6f1ba7;
    }
    .m{
    margin-top:80px;
    }
    
    .btn{
        padding:10px 35px 10px 15px;
       border-radius: 5px;
       border-color: white;
        font-size:18px;
       margin-left: 350px;
      
    }
    .heading2{
        font-size: 29px;
        font-weight:bolder;
       
        padding: 20px 0px;
       text-align: center;
    }
.heading2::before{
    content:"What";
    font-size: 29px;
    font-weight:bolder;
    color: #6f1ba7; 
}
/* container */  

.container{
   
    text-align: center;
} 
 .display1{
    display: inline-block;
    height: 235px;
    width:420px;
   
   } 
   
.p-top1{
    padding-top: 20px;
}


.p-bottom1{
    padding-bottom: 4px;
}
/* footer */
.foot{
    background-color:#6f1ba7;
    height:90px;
    line-height:95px;
   width: 100%;
    color: white;
    
    text-align: center;
    
}

