@import url("https://fonts.googleapis.com/css2?family=Prompt&family=Varela+Round&display=swap");
/* overall setting */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: url("./backgroundImg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Varela Round", sans-serif;
}
/* for alert */
.alert {
  height: 70px;
  font-size: 20px;
  border-radius: 0;
  background-color: red;
  color: white;
}

/* for first main heading */
.heading {
  text-shadow: 0px 0px 10px black;
}

/* for searching full box include input and search icon */
.SearchingBox {
  height: 60px;
}
/* for input */
.inputSet {
  width: 500px;
  margin: 0;
  height: 50px;
  border: none;
  font-size: 20px;
}
.inputSet:hover {
  box-shadow: 0px 0px 10px white;
}
/* for search icon */
.searchIcon {
  font-size: 25px;
  background-color: red;
  padding: 13px;
}
.searchIcon:hover {
  box-shadow: 0px 0px 5px red;
}
/* for full information of weather including icon  */
.infoAboutCityWeather {
  width: 555px;
  box-shadow: 0px 0px 60px white;
}
/* for dark mode and light mode box*/
.changingMode {
  margin-left: 503px;
  box-shadow: 0px 0px 10px white;
}
/* for dark mode */
.darkMode {
  color: white;
  background-color: black;
}

/* for weather information display */
#weatherDetailDisplay {
  margin-left: 60px;
}

/* Coloring of Icons of weather */

.iconDisplay {
  height: 220px;
  width: 250px;
}
