@import url("https://fonts.googleapis.com/css2?family=Prompt&family=Varela+Round&display=swap");
/* overall setting */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* font family overall use */
.font-family {
  font-family: "Varela Round", sans-serif;
}
/* body background color */
.bg-color {
  background-color: blue;
}
/* body inner box shadow */
.boxShadow {
  box-shadow: 0px 0px 30px white;
}
/* it sets the inner box of body */
.boxSetting{
  margin-top: 100px;
  padding: 50px;
  width: 32%;
}

/* it works on input and button  */
.result-container {
  display: flex;
  flex-direction: row;

  padding: 5px;
  margin: 10px;
}
/* it works on input tag */
.result-container input {
  width: 100%;
  padding: 5px;
  border-radius: 2px;
}

/* this is related to list */
li {
  list-style: none;
}

li i {
  font-size: 12px;
}
/* when password any condition fulfilled circle icon color change to blue  */
.iconStyle {
  font-size: 15px;
  color: blue;
}
/* when password any condition fulfilled text color of  li change to grey  */
.text-color {
  color: rgb(128, 128, 128);
}
