
*{
    margin: 0;
    padding: 0;
}
.container{

    padding: 0px 50px;
    background-color: white;
    width: 1050px;
  margin: auto;
  margin-top: 25px;
  border: 2px solid #333;
}

@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Fjalla+One&family=Josefin+Sans&family=Oleo+Script+Swash+Caps&family=Roboto&display=swap');
.heading{
   
    font-family: 'Cabin', sans-serif;
    padding:20px 0px;
    font-weight: bold;
    font-size: xx-large;
}

#para-wrapper1{
    display: block;
color: rgba(32, 30, 30, 0.911);
padding:13px 0px ;
font-size: 20px;
font-weight: bold;
}
.img{
    
   
   width: 98%;
   height: 300px;
   border-radius: 3px;
   
}
.para-wrapper2{
   
    font-family: 'Cabin', sans-serif;
    color: rgba(32, 30, 30, 0.911);
    padding: 25px 52px;
    font-weight: bold;
}
li{
    padding:5px;
}
